{% extends "Layouts/topnav_layout.html" %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="/public/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/public/css/chosen/chosen.min.css">
<style>
    .title-info
    {
        font-weight: bolder;
    }
</style>
{% endblock %}

{% block app_content %}
{% if error is empty %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Informações do Evento</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div style="display:inline-block;padding:5px">
                    <i class="fa fa-fw fa-info-circle"></i><span class="title-info">Código do Evento</span>: {{ evento.getId }}<br/>
                    <i class="fa fa-fw fa-sticky-note-o"></i><span class="title-info">Descrição</span>: {{ evento.getDescricao }}<br/>

                </div>
                <div style="display:inline-block;padding:5px">
                    <i class="fa fa-fw fa-reorder"></i><span class="title-info">Categoria</span>: {{ evento.getCategoria.getDescricao }}<br/>
                    <i class="fa fa-fw fa-calendar"></i><span class="title-info">Data</span>: {{ evento.getData }}<br/>
                </div>
                <div style="display:inline-block;padding:5px">
                    <i class="fa fa-fw fa-users"></i><span class="title-info">Total de Convidados</span>: {{ evento.getQtdePessoas }}<br/>
                    <i class="fa fa-fw fa-building"></i><span class="title-info">Local</span>: {{ evento.getLocal.getNome }}<br/>
                </div>
                <div style="display:inline-block;padding:5px">
                    <i class="fa fa-fw fa-location-arrow"></i><span class="title-info">Endereço</span>: {{ evento.getLocal.getEndereco }}<br/>
                    <i class="fa fa-fw fa-money"></i><span class="title-info">Valor do Evento</span>: R$ {{ evento.getCategoria.getValor }}<br/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Gerenciar Colaboradores</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="actions text-right" class="row">
                    <div class="col-md-12">
                        <form id="new-colab" style="display:inline">
                            <label>Nome: </label>
                            <select style="width: 200px" class="form-control inline chosen-sel" name="i_colab_id" id="new-colab-id">
                                <option value=""></option>
                            </select>
                            <label style="padding-left: 10px;padding-right: 10px">Função:</label>
                            <select style="width: 200px" class="form-control inline chosen-sel" name="i_colab_func" id="new-colab-func">
                                <option value=""></option>
                                {% for funcao in funcoes %}
                                <option value="{{ funcao.getId }}">{{ funcao.getNome }}</option>
                                {% endfor %}
                            </select>
                            <label style="padding-left: 10px;padding-right: 10px">Valor Pago:</label>
                            <input style="padding-left:5px;width: 100px" class="form-control inline" type="number" id="new-colab-value" name="i_colab_value">
                        </form>
                        <button style="margin-left: 15px" class="btn btn-success" id="add-colab"><i class="fa fa-fw fa-user-plus"></i> Adicionar Colaborador</button><br/><br/>
                        <div class="alert alert-danger alert-dismissible" id="new-colab-error" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i>Falha ao adicionar colaborador!</h4>
                            Verifique se os campos estão preenchidos corretamente e tente novamente.
                        </div>

                        <div class="alert alert-success alert-dismissible" id="new-colab-success" style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i>Colaborador Adicionado!</h4>
                            O Colaborador foi adicionado a lista de colaboradores do evento.
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="box-body table-responsive no-padding">
                <table id="colab-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Código do Colaborador</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th>Idade</th>
                            <th>Função</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="modal modal-danger fade" id="rem-colab-error">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Falha ao remover colaborador</h4>
                            </div>
                            <div class="modal-body">
                                <p>Ocorreu um erro ao remover o colaborador.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Voltar</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-warning"></i>

                <h3 class="box-title">Erro</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="alert alert-danger alert-dismissible">
                    {% if error == 'missing_id' %}
                    <h4><i class="icon fa fa-ban"></i> Código inválido!</h4>
                    O código do evento não foi informado.
                    {% elseif error == 'missing_event' %}
                    <h4><i class="icon fa fa-ban"></i> Evento inválido!</h4>
                    O evento informado não existe, ou é inválido.
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/public/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/public/js/chosen.jquery.min.js"></script>

<script>
    function atualizarEquipe(){
        $.ajax({
            method: "POST",
            url: "/equipes/gerenciar",
            dataType: 'json',
            data: "acao=list_colab&evento_id={{ evento.getId }}",
            complete: function(data) {
                let json_data = data.responseJSON;
                $('#colab-table').DataTable({
                    destroy: true,
                    data: json_data,
                    columns: [
                        {data: 'id'},
                        {data: 'nome'},
                        {data: 'telefone'},
                        {data: 'celular'},
                        {data: 'data_nascimento'},
                        {data: 'funcao'},
                        {data: 'acoes',
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("" +
                                    "<button type=\"button\" style=\"display:inline;margin-top:0;margin-left:5px;width:40px\" class=\"btn btn-block btn-danger\" onClick=\"remover_colab('{{ evento.getId }}', '"+ oData.id +"')\"> <i class=\"fa fa-remove\"></i></button>"+
                                    "<button type=\"button\" style=\"display:inline;margin-top:0;margin-left:5px;width:40px\" class=\"btn btn-block btn-success\" onClick=\"window.open('" +
                                    "https://api.whatsapp.com/send?phone=55"+ oData.celular +"" +
                                    "&text=Olá "+ oData.nome +", você poderia confirmar sua presença no evento? Obrigado" +
                                    "')\"> <i class=\"fa fa-whatsapp\"></i></button>"
                                );
                            },
                        }
                    ],
                    "language": {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        },
                        "select": {
                            "rows": {
                                "_": "Selecionado %d linhas",
                                "0": "Nenhuma linha selecionada",
                                "1": "Selecionado 1 linha"
                            }
                        }
                    },
                    "bFilter": false
                });
            },
            error: function(xhr,er) {
                $('#mensagem_erro').html('<p class="destaque">Error ' + xhr.status + ' - ' + xhr.statusText + '<br />Tipo de erro: ' + er + '</p>')
            }
        })

        $.ajax({
            type: "POST",
            url: "/equipes/gerenciar",
            data: "acao=list_colab_disp&evento_id={{ evento.getId }}",
            dataType: "json"
        }).done(function(response) {
            let dselect = $("#new-colab-id");
            dselect.empty();
            dselect.append("<option value=''></option>");
            response.forEach((data, index) => {
               dselect.append($('<option></option>').attr('value', data.id).text(data.nome));
            });
            dselect.trigger('chosen:updated');
        }).fail(function(jqXHR, textStatus ) {
            console.log("Request failed: " + textStatus);
        });
    };

    function remover_colab(id_evento, id_colab)
    {
        $.ajax({
            type: "POST",
            url: "/equipes/gerenciar",
            data: "acao=rem_colab&evento_id="+ id_evento +"&colab_id="+ id_colab,
            dataType: "json"
        }).done(function(response) {
            if(response.error == false)
            {
                atualizarEquipe();
            } else {
                $('#rem-colab-error').modal('show');
            }
        }).fail(function(jqXHR, textStatus ) {
            console.log("Request failed: " + textStatus);
        });
    }

    $(function(){
        atualizarEquipe();
        $(".chosen-sel").chosen({allow_single_deselect: true});

        $("#add-colab").click(function(){
            if($("#new-colab-id").val()*1 > 0 && $("#new-colab-func").val()*1 > 0 && $("#new-colab-value").val()*1 > 0)
            {
                let new_colab_info = "acao=add_colab&evento_id={{ evento.getId }}&"+$("#new-colab").serialize();
                $.ajax({
                    type: "POST",
                    url: "/equipes/gerenciar",
                    data: new_colab_info,
                    dataType: "json"
                }).done(function(response) {
                    console.log(response);
                    if(response.error == false)
                    {
                        $("#new-colab-id").val("").trigger('chosen:updated');
                        $("#new-colab-func").val("").trigger('chosen:updated');
                        $("#new-colab-value").val("");

                        $("#new-colab-success").show();
                        $("#new-colab-success").delay(1500).fadeOut('slow', 'swing');
                        atualizarEquipe();
                    }
                }).fail(function(jqXHR, textStatus ) {
                });
            } else {
                $(function () {
                    $('#new-colab-error').show();
                    $('#new-colab-error').delay(1500).fadeOut('slow', 'swing');
                });
            }
        });
    })
</script>
{% endblock %}