{% extends "Layouts/topnav_layout.html" %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="/public/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/public/css/chosen/chosen.min.css">
{% endblock %}

{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Pesquisar por evento</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form" id="f-search-event">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="i_search">Termo de Busca</label>
                            <input type="text" class="form-control" id="i_search" name="i_search" placeholder="Ex: Nome do Evento, Código do Evento...">
                        </div>
                        <div class="form-group">
                            <div class="radio" style="display:inline;padding-left:7px;">
                                <label>
                                    <input type="radio" name="i_term" id="i_term_1" value="nome" checked>
                                    Nome
                                </label>
                            </div>
                            <div class="radio" style="display:inline;padding-left:7px;">
                                <label>
                                    <input type="radio" name="i_term" id="i_term_2" value="id">
                                    Código
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="b-search"><i class="fa fa-fw fa-search"></i> Pesquisar</button>
                    </div>
                </form>
                <br/>
                <div class="alert alert-danger alert-dismissible" id="search-id-error" style="display:none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i>Falha ao pesquisar!</h4>
                    O código informado é inválido.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="result-row" style="display:none">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Resultado da pesquisa</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="sr-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Código do Evento</th>
                            <th>Descrição</th>
                            <th>Categoria</th>
                            <th>Local</th>
                            <th>Data</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/public/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/public/js/chosen.jquery.min.js"></script>

<script>
    function gerenciarEvento(id)
    {
        location.href = "/equipes/gerenciar?evento="+id;
    }
    $(function(){
        $("#b-search").click(function() {
            r_term = $("input[name='i_term']:checked").val();
            if (r_term == 'nome' || (r_term == 'id' && $('#i_search').val() * 1 > 0))
            {
                let search_info = "acao=pesquisar&" + $("#f-search-event").serialize();
                $.ajax({
                    type: "POST",
                    url: "/equipes",
                    data: search_info,
                    dataType: "json"
                }).done(function (data) {
                    let json_data = data;
                    $('#result-row').show();
                    $('#sr-table').DataTable({
                        destroy: true,
                        data: json_data,
                        columns: [
                            {data: 'id'},
                            {data: 'descricao'},
                            {data: 'data'},
                            {data: 'local'},
                            {data: 'categoria'},
                            {data: 'acoes',
                                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                    $(nTd).html("<button type=\"button\" class=\"btn btn-block btn-primary\" onClick=\"gerenciarEvento('"+ oData.id +"')\"><i class=\"fa fa-fw fa-pencil\"></i> Gerenciar Equipe</button>");
                                },
                            }
                        ],
                        "language": {
                            "sEmptyTable": "Nenhum registro encontrado",
                            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "_MENU_ resultados por página",
                            "sLoadingRecords": "Carregando...",
                            "sProcessing": "Processando...",
                            "sZeroRecords": "Nenhum registro encontrado",
                            "sSearch": "Pesquisar",
                            "oPaginate": {
                                "sNext": "Próximo",
                                "sPrevious": "Anterior",
                                "sFirst": "Primeiro",
                                "sLast": "Último"
                            },
                            "oAria": {
                                "sSortAscending": ": Ordenar colunas de forma ascendente",
                                "sSortDescending": ": Ordenar colunas de forma descendente"
                            },
                            "select": {
                                "rows": {
                                    "_": "Selecionado %d linhas",
                                    "0": "Nenhuma linha selecionada",
                                    "1": "Selecionado 1 linha"
                                }
                            }
                        },
                        "bFilter": false
                    });
                }).fail(function (jqXHR, textStatus) {
                });
            } else {
                $('#search-id-error').show();
                $('#search-id-error').delay(1500).fadeOut('slow', 'swing');
            }
        });
    });
</script>
{% endblock %}