{% extends "Layouts/sidebar_layout.html" %}
{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="/public/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% block app_content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form role="form" id="form-search">
                <div class="box-body">
                    <div class="form-group">
                        <span class="btn btn-success" onclick="location.href='/usuarios/cadastrar'"><i class="fa fa-user-plus"></i> Adicionar Usuário</span>
                        <br/><br/><label for="search-term">Digite o código, login ou nome do usuário a ser pesquisado:</label>
                        <input type="text" class="form-control" id="search-term" name="search_term" placeholder="Ex: 1, João, joaoql">
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="b-search">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br/>
<div class="row" id="result-box" style="display: none">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <table id="search-result" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Data de Registro</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="/public/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/public/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
$(function() {
    $('#b-search').click(function(event){
       event.preventDefault();
        let search = $('#form-search').serialize()+"&return_type=json";
        $.ajax({
            method: "POST",
            url: "/usuarios/consultar",
            dataType: 'json',
            data: search,
            complete: function(data) {
                $('#result-box').show();
                let json_data = data.responseJSON;
                $('#search-result').DataTable({
                    destroy: true,
                    data: json_data,
                    columns: [
                        { data: 'id',
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                $(nTd).html("<a href='/usuarios/visualizar?id="+oData.id+"'> <i class='fa fa-search'></i> "+oData.id+"</a>");
                            }
                        },
                        { data: 'full_name' },
                        { data: 'username' },
                        { data: 'email' },
                        { data: 'created_at' },
                    ],
                    "language": {
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sSearch": "Pesquisar",
                        "oPaginate": {
                        "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        },
                        "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                            "sSortDescending": ": Ordenar colunas de forma descendente"
                        },
                        "select": {
                            "rows": {
                                "_": "Selecionado %d linhas",
                                    "0": "Nenhuma linha selecionada",
                                    "1": "Selecionado 1 linha"
                            }
                        }
                    },
                    "bFilter": false
                });
            },
            error: function(xhr,er) {
                // $('#mensagem_erro').html('<p class="destaque">Error ' + xhr.status + ' - ' + xhr.statusText + '<br />Tipo de erro: ' + er + '</p>')
            }
        })
    });
});
</script>
{% endblock %}