{% extends "Layouts/app_layout.html" %}
{% set bodyclass = "hold-transition login-page" %}
{% block styles %}
<style>
    .txt-bold {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <span class="txt-bold">{{ company_name }}</span>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Insira seu email para iniciar a recuperação do seu acesso.</p>
        <form method="post">
            <input type="hidden" name="token" value="{{ form_token('forgot') }}" />
            <div class="form-group has-feedback">
                <input type="text" name="email" class="form-control" placeholder="Email" value="{{ email }}">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" name="b_recovery" value="recovery" {{ b_status }}>Recuperar</button>
                </div>
            </div>
        </form>

        {% if page_error != '' %}
        <div id="page_error">
            <br/>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i>Erro</h4>
                {% if page_error == 'email_not_found' %}
                    Não foi encontrado nenhum usuário associado a esse email, verifique e tente novamente!
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% if page_success != '' %}
        <div id="page_success">
            <br/>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i>Email enviado</h4>
                {% if page_success == 'send' %}
                Siga as instruções enviadas para <b>{{ email }}</b> para prosseguir com a recuperação de acesso.
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#page_error').delay(1500).fadeOut('slow', 'swing');
    });
</script>
{% endblock %}